<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>-->
<!--<script src='./extension.js'></script>  -->
<!-- ---- Include the above in your HEAD tag -------- -->
<style>

.bar-step {
    position:absolute;
    margin-top:-20px;
    z-index:1;
    font-size:12px;
}

.label-txt {
    float: left;
}
.gradient{
    background: white; /* For browsers that do not support gradients */
    background: linear-gradient(to right, red 0%, green 50%,blue 90%); /* Standard syntax (must be last) */
}
.label-line {
    float: right;
    background: #000;
    height:50px;
    width:1px;
    margin-left: 5px;
}

.label-percent {
    float: right;
    margin-left: 5px;   
}
</style>
</head>
<body>

<div class="container" id="review">

<div class="container" style="width: 500px", id = "score">
<h6> Overall Index </h6>

<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width:50%" id="overall_index">
    
</div>
</div>
</div>


<div class="container" style="width: 500px", id = "positivity">
<h6> Positivity <button type="button" class="btn btn-info btn-xs float-right" id="pos_review">Click</button></h6>
<div class="alert alert-error collapse" role="alert" id="posalert">
  <span>
    <p id="posreview"></p>
  </span>
</div>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width:33%" id="pos">
    Positive
  </div>
  <div class="progress-bar bg-warning" role="progressbar" style="width:34%" id="neu">
    Neutral
  </div>
  <div class="progress-bar bg-danger" role="progressbar" style="width:33%" id="neg">
    Negative
  </div>    
</div>
</div>

<div class="container" style="width: 500px" id = "politeness">
<h6> Politeness <button type="button" class="btn btn-info btn-xs float-right" id="pol_review">Click</button></h6>
<div class="alert alert-error collapse" role="alert" id="polalert">
  <span>
    <p id="polreview"></p>
  </span>
</div>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width:50%" id="polite">
    Polite
  </div>
  <div class="progress-bar bg-danger" role="progressbar" style="width:50%" id="rude">
    Rude
  </div>
</div>
</div>

<div class="container" style="width: 500px" id = "subjectivity">
<h6> Subjectivity <button type="button" class="btn btn-info btn-xs float-right" id="subj_review">Click</button></h6>
<div class="alert alert-error collapse" role="alert" id="subjalert">
  <span>
    <p id="subjreview"></p>
  </span>
</div>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width:50%" id="subj">
    Subjective
  </div>
  <div class="progress-bar bg-danger" role="progressbar" style="width:50%" id="obj">
    Objective
  </div>
</div>
</div>

<div class="container" style="width: 500px" id="tones">
<h6> Tone <button type="button" class="btn btn-info btn-xs float-right" id="tone_review">Click</button></h6>
<div class="alert alert-error collapse" role="alert" id="tonealert">
  <span>
    <p id="tonereview"></p>
  </span>
</div>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width:15%" id="joy">
    Joy
  </div>
  <div class="progress-bar bg-warning" role="progressbar" style="width:20%" id="sadness">
    Sadness
  </div>
  <div class="progress-bar bg-danger" role="progressbar" style="width:15%" id="anger">
    Anger
  </div>
  <div class="progress-bar" role="progressbar" style="width:20%" id="surprise">
    Surprise
  </div>
  <div class="progress-bar bg-secondary" style="width:15%" id="fear">
    Fear
  </div>
  <div class="progress-bar bg-info" role="progressbar" style="width:15%" id="love">
    Love
  </div>
</div>
</div>
<div class="container" style="width: 400px">
    <p id='word_count'> WORD COUNT: </p>

    <p id='question_count'> QUESTION COUNT: </p>

    <p id='com_words'> COMPLICATED WORDS: </p>

    <p id='adverbs_count'> ADVERBS COUNT: </p>

    <p id='reading_level'> READING LEVEL: </p>
</div>

</div>
<div class="container" style="width: 400px">
   <button type="button" class="btn btn-info btn-xs float-center" id="corrections">Corrections</button>
</div>
</body>
</html>